/*Corpo do site*/
body {
    background-color: #ffffff;
    color: #f1f1f1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Estilização cabeçalho*/
.navbar {
    background-color: #CC0000;
}

.navbar-nav .nav-link {
    color: #f1f1f1;
}

.navbar-nav .nav-link:hover {
    color: #000000;
}
/*Parte de baixo do site*/
footer {
    margin-top: 50px;
    text-align: center;
    color: #121212;
    font-size: 14px;
}

footer a {
    color: #00ffc3;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: #121212;
    font-size: 14px;
}

footer a {
    color: #00ffc3;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Estilos para Cards */
.card {
    background-color: #f9f9f9;
    color: #121212;
    border: 2px solid #e30613;
    border-radius: 0.75rem;
    box-shadow: 0 4px 10px #cc0000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-weight: bold;
    color: #e30613;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: #f1f1f1;
}